.register-widget-form {
  mat-form-field {
      width: 45%;
      padding-left: 30px;
      flex: 100%;
      &.has-button {
          width: 30%;
          padding-right: 2.5%;
      }
  }
}
.buttons-row {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  align-self: center;
  padding: 20px;
}
