@import "../../../styles.scss";

.container {
  display: flex;
  flex-flow: row;
  .left-half-logo {
    flex: 1;
    align-items: center;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    img {
      &.logo-bg {
        width: 80%;
        display: flex;
        align-self: flex-end;
        top: 50%;
        padding: 25% 25% 25% 25%;
      }
    }
  }
  .content {
    flex: 1;
    padding: 3em 1.5em;
    .subheader {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 3em 1.5em;
      span {
        color: rgba($color: #4d4f5c, $alpha: 0.5);
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
