@import "../../../styles.scss";

.container {
    display: flex;
    flex-flow: row;
    .left-half-logo {
        flex: 1;
        align-items: center;
        flex-flow: row wrap;
        display: flex;
        justify-content: center;
        img {
            &.logo-bg {
                width: 100%;
                display: flex;
                align-self: flex-end;
            }
        }
    }
    .content {
        flex: 1;
        padding: 3em 1.5em;
        .header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            img.logo-header {
                width: 75%;
                display: flex;
                align-self: center;
            }
        }
        .subheader {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 3em 1.5em;
            span {
                color: rgba($color: #4d4f5c, $alpha: 0.5);
                font-size: 14px;
                text-align: center;
            }
        }
        .child-content{
            flex-grow: 1;
        }
        .footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-self: flex-end;
            margin-top: 3em;

            img.logo-footer {
                width: 30%;
                display: flex;
                align-self: center;
            }
        }
    }
}
