//https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=F5F6FA&secondary.color=0A627A
@import '~@covalent/core/common/platform.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$typography: mat-typography-config(
  $font-family: "Roboto, monospace",
  $headline: mat-typography-level(32px, 48px, 700),
);

@include mat-core($typography);

$md-accentpalette: (
  50: #e2ecef,
  100: #b6d0d7,
  200: #85b1bd,
  300: #5491a2,
  400: #2f7a8e,
  500: #1A237E,
  600: #095a72,
  700: #075067,
  800: #05465d,
  900: #03344a,
  A100: #7ed0ff,
  A200: #4bbeff,
  A400: #18abff,
  A700: #00a2fd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$md-primarypalette: (
  50: #fdfdfe,
  100: #fbfbfb,
  200: #f8f8f9,
  300: #f5f5f7,
  400: #f3f3f5,
  500: #f1f1f3,
  600: #efeff1,
  700: #ededef,
  800: #ebebed,
  900: #e7e7ea,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// $candy-app-primary: mat-palette($md-primarypalette);
$app-primary: mat-palette($md-accentpalette);
$app-accent: mat-palette($md-accentpalette);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
